body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background: #fff;
}

.cont2 {
    display: block;
    background: #C30C09;
    border: 2px solid #8e0502;
    color: #fff;
    list-style: none;
    padding: 20px 104px 20px 105px;
    border: 2px solid #8e0502;
}

.phd {
    top: -250px;
    position: relative;
}

.menu li a:hover {
    background: #8e0502;
    color: #fff;
    transition: all 0.2s ease;
    box-shadow: 0 0 30px 0 #808080;
    border-radius: 2px; 
}

.dwnld {
    border: 2px solid #26CC71;
    border-radius: 100px;
    max-width: 800px;
    font-size: 23px;
    padding: 7px;
    color: #26CC71;
}

.dwnld:hover {
    background: #26CC71;
    transition: all 0.2s ease;
    color: #fff;
}

a {
    color: #C30C09;
    text-decoration: none;
    font-size: 25px;
}

.games:hover {
    background: #8e0502;
    border-radius: 2px;
    padding: 5px;
    color: #fff;
    transition: all 0.2s ease;
}

.menu > ul li a {
    display: block;
    background: #C30C09;
    color: #fff;
    list-style: none;
    padding: 20px 104px 20px 105px;
    border: 2px solid #8e0502;
}

.menu > ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    justify-content: center;
    font-family: "Oswald";
}

p {
    font-size: 25px;
    color: #1d1d1d;
    line-height: 34px;
    margin: 20px 100px;
    max-width: 500px;
    float: center;
}

button {
    color: #C30C09;
    font-size: 20px;
    border: none;
    border-radius: 3px;
    background: #C30C09;
    width: 200px;
    height: 60px;
    outline: none;
}

button:focus {
        background: #26CC71;
}

h1 {
    font-size: 50px;
    color: #1d1d1d;
}

b {
    font-size: 20px;
    color: #1d1d1d;
    line-height: 40px;
    margin: 0px 1px;
}

.np {
    max-width: 600px;
    position: relative;
    right: -200px;
    top: -300px;
    color: #C30C09;
    font-size: 20px;
}

.news {
    max-width: 700px;
    max-height: 500px;
    background: #C30C09;
    color: #fff;
    border-radius: 3px; 
}

.h2 {
    color: #fff;
    font-family: "Oswald";
    font-size: 50px;
    background: #8e0502;
}

.nt {
    height: 270px;
    max-width: 500px;
    font-size: 25px;
    margin: 10px;
}

.time {
    font-size: 15px;
    font-family: monospace;
    margin: -120px;  
    color: #fff;
}

.h1 {
    font-family: "Oswald";
    font-size: 50px; 
}