body {
    font-family: Impact, Charcoal, sans-serif;
}

p::selection {
    background: #C30C09;
    color: #fff;
}

br::selection {
    background: #C30C09;
    color: #fff;
}

span::selection {
    background: #C30C09;
    color: #fff;
}

h1::selection {
    background: #C30C09;
    color: #fff;
}

.np::selection {
    background: #C30C09;
    color: #fff;
}

a::selection {
    background: #C30C09;
    color: #fff;
}

img::selection {
    background: #C30C09;
    color: #fff;
}

.cont2 {
    display: block;
    background: #0d0d0d;
    border: 1px solid #C30C09;
    color: #FFFFFF;
    list-style: none;
    padding: 30px 14px 30px 15px;
}

.phd {
    top: -250px;
    position: relative;
}

.menu li a:hover {
    background: #FFFFFF;
    color: #0d0d0d;
    box-shadow: 1px 5px 50px black;
    transition: all 0.2s ease;
}

.dwnld {
    border: 2px solid #26CC71;
    border-radius: 100px;
    font-size: 13px;
    padding: 10px;
}

a {
    color: #fff;
    text-decoration: none;
    font-size: 40px;
    padding: 20px 104px 20px 105px;
}

.games:hover {
    background: #FFFFFF;
    color: #0d0d0d;
    box-shadow: 1px 5px 50px black;
    transition: all 0.2s ease;
}

.menu > ul li a {
    display: block;
    background: #0d0d0d;
    border: 1px solid #C30C09;
    color: #FFFFFF;
    list-style: none;
    padding: 30px 24px 30px 25px;
    font-size: 50px;
    top: 0;
}

.menu > ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    justify-content: center
}

p {
    font-size: 25px;
    color: #fff;
    font-family: Open Sans, sans-serif;
    line-height: 34px;
    margin: 20px 100px;
    max-width: 500px;
    float: center;
}

button {
    color: #fff;
    font-family: sans-serif;
    font-size: 20px;
    border: none;
    border-radius: 3px;
    background: #C30C09;
    width: 200px;
    height: 60px;
    outline: none;
}

button:focus {
        background: #26CC71;
}

input {
    border: 1px solid #cccccc;
    height: 35px;
    width: 300px;
    border-radius: 2px;
    font-size: 10px;
    outline: none;
}

input:focus {
    box-shadow: 0 0 15px 0 #C30C09;
}

h1 {
    font-size: 50px;
    font-family: sans-serif;
    color: #fff;
}

b {
    font-size: 20px;
    font-family: sans-serif;
    color: #C30C09;
    line-height: 40px;
    margin: 0px 1px;
}

.np {
    max-width: 600px;
    position: relative;
    right: -200px;
    top: -300px;
    color: #fff;
    font-family: sans-serif;
}